@media (max-width: 1250px) {
    .taskContentLeft {
        width: 300px;
    }

    .addTotaskInputField {
        width: 215px;
    }

    .input-description {
        width: 215px;
    }

    .category-box {
        width: 215px;
    }

    .selection-category {
        width: 200px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .category-box-standard {
        width: 215px;
    }

    .prio-icon {
        width: 215px;
    }

    .category-box-render {
        width: 215px;
        padding-bottom: 10px;
        border-bottom: 0.1px solid black;
    }

    .accepted-category {
        width: 215px;
    }

    .input-nav-box {
        left: 225px;
    }

    input {
        font-size: 16px;
    }

    .render-category-box {
        width: 215px;
    }

    .assigned-to-box {
        width: 215px;
        padding-bottom: 10px;
        border-bottom: 0.1px solid black;
    }

    .select-category {
        width: 150px;
    }

    .searched-emails {
        width: 270px;
    }

    .selection-contacts {
        width: 200px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .btnRow {
        padding-left: 20px;
        padding-top: 135px;
        width: 250px;
    }
}


@media (max-width: 1250px) {
    .addTask-header {
        font-size: 55px;
    }

    .taskContentLeft {
        width: 250px;
    }

    .input-nav-box {
        top: -90px;
        left: 150px;
    }

    .color-box {
        width: 210px;
        left: 0;
    }

    .prio-box {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .selection-category {
        padding-left: 15px;
        padding-right: 0;
        width: 200px;
    }

    .render-category-box {
        width: 215px;
    }

    .select-category {
        width: 215px;
    }

    .assigned-to-box {
        width: 215px;
    }

    .selection-category {
        padding-top: 15px;
    }

    .addTask-subheaders {
        font-size: 20px;
    }

    .selection-category img {
        padding-right: 5px;
    }

    .btnRow {
        padding-top: 0;
        padding-left: 10px;
        align-items: center;
        width: 300px;
    }
}


@media (max-width: 900px) {
    .show-addTask {
        top: 0px !important;
        left: 0px;
        right: 0px;
        bottom: 0px;
        position: fixed;
        z-index: 100 !important;
        background-color: white;
        padding: 65px;
        border-radius: unset !important;
        overflow-y: auto;
    }
}


@media (max-width: 850px) {
    .sidebar-header {
        top: 90vh;
    }

    .addTaskContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
        margin-left: 0;
        margin-bottom: 117px;
    }

    .taskContentRight {
        width: 250px;
    }
}


@media (max-width: 730px) {

    .category-box {
        width: unset;
    }

    .accepted-category {
        width: unset;
    }

    .addTask-header {
        margin-bottom: 0;
    }

    .taskContent {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }

    .taskContent-Include {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }

    .prio-box {
        flex-direction: unset;
        gap: 10px;
        width: 422px;
    }

    .prio-icon {
        width: 200px;
        margin-right: unset;
    }

    .taskContentLeft {
        border: unset;
        width: auto;
        border-right: unset;
    }

    .addTotaskInputField {
        width: 422px;
    }

    .input-description {
        width: 422px;
        min-height: 90px;
    }

    .input-nav-box {
        left: 350px;
    }

    .color-box {
        left: 0;
        width: 275px;
    }

    .render-category-box {
        width: 422px;
    }

    .select-category {
        width: 380px;
    }

    .taskContentRight {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .addToTaskInputSection {
        padding-top: 25px;
        padding-bottom: 0;
        padding-right: 0;
    }

    .addToTaskInputSectionRight {
        padding-left: unset;
        padding-bottom: 0;
        padding-top: 25px;
    }


    .category-box-standard {
        width: 422px;
    }

    .btnRow {
        justify-content: space-evenly;
        padding-top: 40px;
    }

    .subtask {
        margin-bottom: -15px;
    }
}


@media (max-width: 730px) {
    .assigned-to-box {
        width: 422px;
    }

    .selection-category {
        width: 400px;
    }

    .selection-contacts {
        width: 395px;
        padding-left: 15px;
    }

}


@media (max-width: 580px) {
    .addTask-header {
        font-size: 55px;
        margin-bottom: 10px;
    }

    .addTask-Subheaders {
        font-size: 18px;
    }

    .addTotaskInputField {
        width: 270px;
    }

    .addToTaskInputSectionRight {
        padding-top: 10px;
    }

    .input-description {
        width: 270px;
        min-height: 100px;
    }

    .searched-emails {
        width: 270px;
    }

    .input-nav-box {
        top: -44px;
        left: 216px;
        padding-top: 5px;
        gap: 7px;
    }


    .render-category-box {
        width: 270px;
    }

    .select-category {
        width: 380px;
    }

    .selection-category {
        padding-left: 14px;
        padding-right: 0px;
        width: 250px;
    }

    .prio-icon {
        width: 270px;
        gap: 4px;
    }

    .prio-icons {
        width: 15px;
        height: 11px;
    }

    .prio-box {
        width: 270px;
    }

    .prio-icon-medium {
        transform: scale(1) !important;
        box-shadow: unset !important;
        width: 10px;
        height: 7px;
    }

    .btnRow {
        width: unset;
        gap: 7px;
        margin-top: -10px;
    }

    .addTask-Subheaders {
        font-size: 15px;
    }

    .contact-icon {
        width: 35px;
        height: 35px;
        margin-top: 10px;
    }

    .category-box-standard {
        width: 270px;
    }

    .category-box {
        width: 270px;
        padding: 10px 0px;
    }

    .category-box-render {
        width: 270px;
    }

    .assigned-to-box {
        width: 270px;
    }

    .selection-contacts {
        width: 244px;
    }

    .sum-task-mid {
        width: 390px;
    }
}


@media (max-width: 450px) {
    .sidebar-header {
        top: 87vh !important;
    }
}

/*
    ADD TASK POPUP
*/

@media (max-width: 1350px) {
    .addTask-header {
        font-size: 55px;
    }

    .close-addtask-include {
        bottom: 10px;
        right: 0;
    }
}

@media (max-width: 850px) {
    .cancel-btn {
        width: 110px;
    }

    .create-btn {
        width: 110px;
    }

    .addTask-header {
        font-size: 35px !important;
    }
}

@media (max-width: 730px) {
    .show-addTask {
        padding-bottom: 10px;
    }
}

@media (max-height: 1000px) and (min-width: 900px) {
    .show-addTask {
        scale: 0.8;
    }
}

@media (max-height: 850px) {
    .sidebar-header {
        top: 90vh !important;
    }
}

@media (min-height: 900px) and (max-width: 850px) {
    .sidebar-header {
        top: 91vh !important;
    }
}

@media (min-height: 1000px) and (max-width: 850px) {
    .sidebar-header {
        top: 92vh !important;
    }
}

@media (min-height: 1100px) and (max-width: 850px) {
    .sidebar-header {
        top: 93vh !important;
    }
}