
@media (max-width: 1300px) {
    .headline-index-contact span {
        font-size: 50px;
    }

    .headline-index-contact p {
        font-size: 24px;
    }

    .headline-index-contact {
        gap: 20px;
        width: unset;
        left: 600px;
    }

    .contact-list {
        width: inherit;
    }

    .first-char {
        margin-bottom: 15px;
    }

    .new-contact {
        left: 660px;

    }
}


@media (max-width: 1200px) {
    .headline-index-showContact p {
        display: none;
    }

    .show-contact-headline-right {
        margin-left: 0;
    }

    .contact-main {
        width: unset;
    }

    .headline-index-contact {
        top: 150px;
        left: 590px;
        gap: 15px;
    }

    .show-contact-headline {
        flex-direction: column;
        gap: 20px;
    }

    .headline-index-contact span {
        font-size: 42px;
    }

    .show-contact-middle {
        gap: 50px;
    }

    .new-contact {
        left: 80%;
        top: 85%;
    }
}


@media (max-width: 1000px) {
    .first-char {
        padding-left: 20px;
    }

    .contact-card {
        gap: 20px;
        align-items: center;
        width: inherit;
        padding: unset;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .headline-index-contact {
        flex-direction: column;
        gap: 0;
        left: 560px;
    }

    .headline-index-contact p {
        margin: 5px;
        font-size: 20px;
        border-bottom: 3px solid #29abe2;
        padding-bottom: 12px;
    }

    .headline-index-contact span {
        font-size: 50px;
    }

    .headline-index-contact img {
        display: none;
    }

    .show-contact {
        left: 550px !important;
    }

    .show-contact-middle {
        gap: 20px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .blue-font {
        font-size: 20px;
    }

    .contact-head-name {
        font-size: 40px;
    }

    .new-contact {
        left: 75%;
        top: 85%;
    }
}

@media (max-width: 850px) {
    .contact-list-overview {
        left: 0;
        top: 81px;
        padding-bottom: 106px;
    }

    .contact-main {
        height: 86vh;
        display: flex;
        justify-content: center;
    }

    .show-contact {
        left: 320px !important;
    }

    .headline-index-contact {
        position: absolute;
        left: 330px !important;
    }

    .headline-index-contact span {
        font-size: 40px;
    }

    .contact-head-name {
        font-size: 30px;
    }

    .new-contact {
        left: 50%;
        width: 115px;
        font-size: 17px;
        margin-bottom: 125px;
        top: 67vh;
    }

}

@media (max-width: 700px) {
    .headline-index-contact {
        top: 11vh;
    }
}

@media (max-width: 600px) {
    .arrow-left-contacts {
        display: flex;
    }

    p {
        margin: unset;
    }

    .img-container-edit {
        scale: 0.6;
    }

    .new-contact {
        left: 400px;
        width: 180px;
        font-size: 17px;
        margin-bottom: 125px;
        top: 60px;
    }

    .headline-index-showContact span {
        font-size: 41px;
        font-weight: 700;
    }

    .show-contact {
        display: none;
        left: 0 !important;
        top: 80px !important;
        background: white;
        right: 0;
        bottom: 0;
        gap: unset;
        align-items: center;
        padding-top: 60px;
    }

    .contact-list-overview {
        width: 100%;
        /* height: 69vh; */
    }

    .new-contact {
        left: unset;
    }

    .show-contact-middle {
        gap: 60px !important;
    }

    .edit-contact {
        padding-top: 15px;
    }
}


@media (max-width: 550px) {
    .contact-card {
        flex-direction: column;
        height: unset;
    }

    .contact-info {
        justify-content: center;
    }

    .contact-info p {
        font-size: 14px;
    }

    .contact-img {
        margin-left: 0;
    }

    .headline-index-contact {
        left: 210px !important;
        justify-content: flex-end;
    }

    .headline-index-contact span {
        font-size: 46px;
    }

    .headline-index-contact p {
        font-size: 18px;
    }
}


@media (max-width: 450px) {
    span {
        padding-bottom: unset !important;
    }

    .contact-card {
        scale: 0.7;
        margin: -30px;
    }

    .contact-main {
        background-color: #ffffff;
    }

    .contact-list {
        top: unset;
        height: unset;
    }

    .headline-index-contact {
        display: none;
    }

    .contact-img {
        width: 70px;
        height: 70px;
        font-size: 25px;
    }

    .contact-info p {
        font-size: 18px;
    }

    .contact-info span {
        font-size: 30px;
    }

    .contact-card {
        gap: 15px;
    }

    .new-contact {
        top: 60px !important;
        left: unset !important;
        width: 140px !important;
        height: 50px !important;
    }

    .show-contact-middle {
        align-items: center;
    }

    .show-contact-bottom {
        align-items: center;
        gap: 10px;
    }
}

/* @media (min-height: 850px) {
    .sidebar-header {
        top: 90vh !important;
    }
} */

@media (min-height: 900px) and (max-width: 850px) {
    .sidebar-header {
        top: 91vh !important;
    }
}

@media (min-height: 1000px) and (max-width: 850px) {
    .sidebar-header {
        top: 92vh !important;
    }
}

@media (min-height: 1100px) and (max-width: 850px) {
    .sidebar-header {
        top: 93vh !important;
    }
}

@media (min-height: 800px) and (max-width: 450px) {
    .sidebar-header {
        top: 91vh !important;
    }
}

@media (min-height: 600px) and (max-width: 380px) {
    .sidebar-header {
        top: 88vh !important;
    }
}

@media (min-height: 800px) and (max-width: 400px) {
    .sidebar-header {
        top: 90vh !important;
    }
}